# Default ignored files
/shelf/
# Datasource local storage ignored files
/../../../../../:\Courses\Compression Assignments\lz77\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
